*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

/* nav bar */
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    padding: 2% 3%;
}

nav img{
    width: 50px;
    height: 50px;
}

/* main wrapper for split screen container */
.main-container {
    display: flex; 
    flex-direction: row; 
    width: 100%;
    height: 100vh;
    align-items: center;
}

/* left sect */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1{
    font-size: 2.5rem;
    margin-bottom: 1px;
}
.content h2{
    color: #707475;
    font-weight: 400;
    margin-bottom: 20px;
}
.content p{
font-size: 0.9rem;
    color: #707475;
    margin-bottom: 20px;
}

/* right sect */
.image-container {
    flex: 1; 
    height: 100vh;
    padding: 40px; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 30px; 
}

/* toggle button */
.toggle {
    display: inline-flex;
    background: #9999; 
    border-radius: 30px;
    padding: 5px;
}

.toggle button {
    padding: 10px 25px;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
}

.toggle button.active {
    background: #999;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
