*{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 50px;
    height: 50px;
}

.content h1{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content h2{
    width: 90%;
    color: #707475;
    position: absolute;
    top: 54%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.content p{
    width: 90%;
    color: #707475;
    position: absolute;
    top: 60%;
    left: 24.8%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero_btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #707475;
    padding: 12px 34px;
    font-size: 16px;
}