*{
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
}

nav{
    display: flex;
    padding: 3% 3%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
    height: 50px;
}